:host {
  display: flex;
  height: 100%;
}

.event-card {
  height: 100%;
}

.event-card__content {
  min-height: 360px;
}

.event-card__title {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  min-height: 0;
}

.event-card__meta {
  min-height: 92px;
}

.event-card__meta-text {
  min-width: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
