/* Navbar: gradiente top → bottom (mismo color que video-hero overlay) cuando no está scrolleado */
.navbar--gradient {
  background: linear-gradient(to bottom,
      rgba(8, 7, 7, 0.991) 0%,
      transparent 100%) !important;
}

.activeLink {
  color: #2A7EBF;
  border-bottom: 2px solid #2A7EBF;
}

.text-reds {
  color: #242424 !important;
  background-color: white !important;
}