:host {
  display: block;
}

.event-breadcrumbs,
.event-breadcrumbs a,
.event-breadcrumbs li,
.event-breadcrumbs span {
  color: var(--White, #FFF);
  text-align: center;
  font-family: Inter, sans-serif;
  font-size: var(--Text-Sizes-Text-Small, 14px);
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}

.event-breadcrumbs a {
  color: inherit;
}
