<div class="bg-white/50 overflow-hidden h-full flex flex-col">
  <div class="relative h-[53%] overflow-hidden p-6">
    <img [src]="article().image?.url ?? ''"
      [alt]="article().image?.alt ?? (article().title ? article().title + ' article image' : '')"
      class="aspect-6/5 object-cover" loading="lazy" />
  </div>
  <div class="py-5 px-5 flex flex-col grow">
    <div class="flex items-center mb-5">
      <div class="flex items-center gap-2 flex-wrap pr-6">
        @for (tag of article().tags; track tag) {
        <span class="text-[15px] capitalize text-p-500 bg-[#E4EEFA] px-3 py-1 font-segoe">{{ tag }}</span>
        }
      </div>
      @if (article().readingTime) {
      <span class="text-[15px] text-gray-500">{{ article().readingTime }}</span>
      }
    </div>
    <h3 class="text-lg sm:text-[1.6rem] text-gray-900 leading-tight">
      {{ article().title }}
    </h3>
    @if (article().description) {
    <p class="text-sm sm:text-base text-gray-600 mb-4 leading-relaxed">
      {{ article().description }}
    </p>
    }
    @if (article().link) {
    <a [href]="article().link"
      class="text-base text-gray-800 hover:text-p-500 transition-colors duration-200 inline-flex items-center mt-auto">
      {{ article().linkText ?? 'Read more' }} <span class="ml-3"><i class="fa-solid fa-chevron-right"></i></span>
    </a>
    }
  </div>
</div>
