:host {
  display: block;
  width: 100%;
}

.focus-active {
  background-color: #F2F8FD;
  color: #2A7EBF;
}

@media (min-width: 1024px) {
  nav a:focus-visible {
    outline: 2px solid #2563eb;
    outline-offset: 2px;
  }
}
