<section
  class="w-full h-full scroll-animation-section bg-p-10 py-8 sm:py-14 md:py-20 lg:py-10"
  aria-labelledby="microsoft-partner-title"
>
  <div class="mx-auto px-2 sm:px-6 md:px-8 lg:px-12 pt-4 sm:pt-10">
    <div class="mb-6 sm:mb-10 md:mb-12">
      <h2 id="microsoft-partner-title" class="relative mb-2 text-center">
        <span
          class=" font-[Inter] font-normal not-italic text-[2.2rem] xs:text-[2.8rem] sm:text-[3.5rem] md:text-[5rem] lg:text-[140px] leading-[1] tracking-[-0.04em] text-p-500 left-box"
          [class.animate]="isVisible"
          [class.reverse-animate]="reverse"
        >
          Certified Microsoft
        </span>
        <div
          class="right-box mt-2"
          [class.animate]="isVisible"
          [class.reverse-animate]="reverse"
        >
          <div class="flex flex-col items-center md:items-start">
            <span
              class="block font-[Inter] font-normal not-italic text-[2.2rem] xs:text-[2.8rem] sm:text-[3.5rem] md:text-[5rem] lg:text-[140px] leading-[1] tracking-[-0.04em] text-p-500"
            >
              Solutions Partner
            </span>
            <span class="relative block mt-2 pl-0 sm:pl-6 text-[15px] sm:text-[18px] font-segoe text-gray-900/80 text-center md:text-left"
              >As a distinguished
              <span class="text-[#1D69AC]">Microsoft Solutions Partner</span>,
              Oakwood Systems Group stands out as a premier provider of
              transformative digital and cloud services.</span
            >
          </div>
        </div>
      </h2>
    </div>
    <div class="max-w-6xl mx-auto">
      <div
        class="grid grid-cols-2 md:grid-cols-4 gap-4 sm:gap-6"
      >
        <img src="/logos/microsoft/m1.png" class="object-cover w-full max-w-[220px] mx-auto" />
        <img src="/logos/microsoft/m2.png" class="object-cover w-full max-w-[220px] mx-auto" />
        <img src="/logos/microsoft/m3.png" class="object-cover w-full max-w-[220px] mx-auto" />
        <img src="/logos/microsoft/m4.png" class="object-cover w-full max-w-[220px] mx-auto" />
      </div>
    </div>
  </div>
</section>

<!-- </section> -->
