<section
  class="w-full h-full scroll-animation-section w-full bg-p-10 py-12 sm:py-16 md:py-20 lg:py-24"
  aria-labelledby="microsoft-partner-title"
>
  <div class="mx-auto px-4 sm:px-6 md:px-8 lg:px-12 pt-10">
    <div class="px-38 mb-8 sm:mb-10 md:mb-12">
      <h2 id="microsoft-partner-title" class="relative mb-2">
        <span
          class="font-[Inter] font-normal not-italic text-[140px] leading-[1] tracking-[-0.04em] text-p-500 left-box"
          [class.animate]="isVisible"
          [class.reverse-animate]="reverse"
        >
          Certified Microsoft
        </span>
        <br />
        <div
          class="right-box"
          [class.animate]="isVisible"
          [class.reverse-animate]="reverse"
        >
          <div class="items-center">
            <span
              class="font-[Inter] font-normal not-italic text-[140px] leading-[1] tracking-[-0.04em] text-p-500"
            >
              Solutions Partner
            </span>
            <span class="absolute pl-6 text-[18px] font-segoe text-gray-900/80"
              >As a distinguished
              <span class="text-[#1D69AC]">Microsoft Solutions Partner</span>,
              Oakwood Systems Group stands out as a premier provider of
              transformative digital and cloud services.</span
            >
          </div>
        </div>
      </h2>
    </div>
    <div class="max-w-6xl mx-auto">
      <div
        class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4 sm:gap-6"
      >
        <img src="/logos/microsoft/m1.png" class="object-cover" />
        <img src="/logos/microsoft/m2.png" class="object-cover" />
        <img src="/logos/microsoft/m3.png" class="object-cover" />
        <img src="/logos/microsoft/m4.png" class="object-cover" />
      </div>
    </div>
  </div>
</section>

<!-- </section> -->
